.mainBlock {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3em;
    animation: colorchange 10s infinite  alternate;

}

button {
    width: 80px;
    height: 40px;
    animation: bgchange 10s infinite  alternate;
    border-radius: 5px;
    transition: 0.2s;
    font-size: 1em;

}

button:hover {
    transform: scale(1.05);
}
button:active {
    transform: scale(0.9);
}

@keyframes colorchange {
    0% {
        color: indigo;
    }

    20% {
        color: blue;
    }
    40% {
        color:green;
    }
    60% {
        color: yellow
    }
    80%{
        color: orange
    }
    100%{
        color: red
    }
}
@keyframes bgchange {
    0% {
        background-color: indigo;
    }

    20% {
        background-color: blue;
    }
    40% {
        background-color:green;
    }
    60% {
        background-color: yellow
    }
    80%{
        background-color: orange
    }
    100%{
        background-color: red
    }
}